
body 
{
    background-color: #bed3da  !important;
}

#optionsHeader 
{
    display:none;
}

#downloadButton
{
    display:none;
}

.title-image {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Make the image responsive */
    width: 500px; /* Set a specific width for larger screens */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 20px; /* Add some space below the image */
    padding-top: 50px;
}

@media (max-width: 768px) {
    .title-image {
        width: 200px; /* Smaller width for mobile devices */
    }
}

@media (max-width: 480px) {
    .title-image {
        width: 150px;
    }
}